* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Ubuntu', sans-serif;
}

.menu-top {
	background: #333;
	height: 30px;
}

.menu {
	text-align: right;
	margin-top: 5px;
}
.menu li {
	display: inline-block;
	color: white;
}
.qr-image {
	border-radius: 8px;
  box-shadow: 1px 1px 4px #888;
  height: 220px;
  width: 220px;
  margin-top: 33px;
}
.main-wrapper {
	margin: 30px 20px;
}
.lb-size {
	font-size: 17px;
}
.f-control-size {
	font-size: 15px;
	height: 46px;
}
.bluepane {
	background-image: url("../images/bg_blueplane.jpg");
	background-size: cover;
	height: 200px;
  width: 100%;
}

.heading-name {
	font-size: 4em;
	color: #fefefe;
}
.heading-description {
	display: block;
	color: #fefefe;
}

.form-signin {
	margin: 0 auto;
  max-width: 330px;
  padding: 15px;
}