* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

.menu-top {
	background: #333;
	height: 30px;
}

.menu {
	text-align: right;
}
.menu li {
	display: inline-block;
	color: white;
}
.qr-image {
	border-radius: 8px;
  box-shadow: 1px 1px 4px #888;
  height: 220px;
  width: 220px;
}
.main-wrapper {
	margin: 50px 20px;
}